<div class="form-row">
    <div class="{{ material_attrs.width|default:"col-12" }}">
        <div class="form-group">

                <label for="{{ widget.attrs.id }}">{{ material_attrs.label }}</label>
<textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
{% if material_attrs.field_errors %}
                    <div class="invalid-feedback">
                        {% for e in material_attrs.field_errors %}
                            <div>{{ e }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if material_attrs.help_text %}<small class="form-text text-muted">{{ material_attrs.help_text }}</small>{% endif %}
        </div>
    </div>
</div>